 <div class="cover">
     <h1 class="font-title">geek工业</h1>
     <p class="info">
         高科技智能硬件首发平台
         <a class="font-icon" href="#/project">了解更多</a>
     </p>
     <div class="line"></div>
     <a class="btn btn-success register" href="/register">
         <span class="font-icon"></span>
         注册
     </a>
 </div>