<div class="container">
	<div class="page">

		<div class="text-center">
			<div id="logo">
				<img src="/images/logo.png">
				<p>GEEK ~ 工业</p>
			</div>
			<div class="page project-title">
			<!-- gen-tab-click="show" -->
				<a href="javascript:;" ng-click="select('team')" class="mrl">
					<span ng-class="{true: '', false: 'on'}[team]" >产品团队</span>
				</a>
				<a href="javascript:;" ng-click="select('investor')" class="mll">
					<span ng-class="{true: '', false: 'on'}[investor]">天使投资人</span>
				</a>
			</div>
		</div>
		<div id="Team" ng-class="{hide: team}">
			<form novalidate name="regForm" class="form-signin" ng-submit="joinForm()">
				<input  type="text" class="form-control" placeholder="用户名" name="username" ng-model="join.username"  ng-minlength=3  ng-maxlength=20  required />

				<input type="email" class="form-control" name="email" ng-model="join.email" placeholder="Email" />

				<input type="password" class="form-control" name="password" placeholder="password" ng-model="join.password" required ng-minlength=5/>
				
				<button class="mtl btn btn-lg btn-success btn-block" type="submit" ng-disabled="regForm.$invalid">注 册</button>
			</form>			
		</div>
		<div id="Investors" ng-class="{hide: investor}">
			<form novalidate name="regForm" class="form-signin" ng-submit="joinForm()">
				<p class="text-center">天使注册</p>
				<input  type="text" class="form-control" placeholder="用户名" name="username" ng-model="join.username"  ng-minlength=3  ng-maxlength=20  required />

				<input type="email" class="form-control" name="email" ng-model="join.email" placeholder="Email" />

				<input type="password" class="form-control" name="password" placeholder="password" ng-model="join.password" required ng-minlength=5/>
				
				<button class="mtl btn btn-lg btn-success btn-block" type="submit" ng-disabled="regForm.$invalid">注 册</button>
			</form>	
		</div>

		<div class="mtl text-center">
			<p>
				还没有账号
				<a href="#/login" >Login</a>
			</p>
			<p></p>
		</div>
	</div>
</div>