.mtl{margin-top: 2em}
.mtm{margin-top: 1em}
.mts{margin-top: .5em}
.mlm{margin-left: 1em}
.mls{margin-left: .5em}

.mrm{margin-right: 1em}
.mbm{margin-bottom: 1em}
.mrl{margin-right: 2em}
.mll{margin-right: 2em}
.ptl{padding-top: 2em}
.plm{padding-left: 1em}
.pbm{padding-bottom: 1em}
.mt-nav{margin-top: 48px}
.ps{padding: .5em}
.pm{padding: 1em}
.pl{padding: 1em}
/*rest bootstarp*/
.btn{border-radius: 2px;}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active,.btn-primary {
background-color: #5379F1;
border-color: #2182DB;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color: #27c33d;
}
.btn-success {
	background-color: #20b74e;
	border-color: #27c33d;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
	background-color: #1FAD47;
	border-color: #14BB43;
}
.form-control{
	box-shadow: none;
	border-color: #ddd;
	border-radius: 2px;
}
.form-control:focus {
	border-color: #25CA6D;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(147, 233, 192, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(208, 243, 227, 0.6);
}
.text-success {
	color: #27c33d;
}
/*login from start*/
.page{margin-top: 5rem}
.project-title {
	position: relative;
	font-size: 16px;
	color: #646878;
	text-align: center;
	margin-bottom: 10px;
}
.project-title::before {
	content: '';
	width: 100%;
	border-top: 1px solid #E0E0E0;
	position: absolute;
	top: 10px;
	left: 0;
	z-index: 0;
}
.project-title span {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border:1px solid #ddd;
	position: relative;
	background: white;
	padding: 0 12px;
	display: inline-block;
	color: #646878;
	font-size: 14px;
	top: -28px;
	padding-top: 1.5em;
}
.project-title span.on{
	border-color: #20b74e;
	color: #20b74e;
	}
.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*login from end*/
#sidebar{
	display: block;
	position: fixed;
	left: 0;
	top: 6%;
	width: 13%;
	height: 87%;
	background: #222;
	border-right: #666 1px solid;
	color: #eee;
}
#nav-left ul li a{
	line-height: 32px;
	font-size: 16px;
	color: #eee;
}
.banner-tip{position: relative;}
.banner-tip .close{
	position: absolute;
	top: -.5em;
	right: 4em;
}
#main{
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 85%;
	height: 100%;
}
#main .content{margin-top: 50px;padding: 2em;}
/* header*/
.navbar-inverse {
	background: white;
	border-bottom: 0;
	min-height: 0;
	width: 100%;
	margin-bottom: 0;
	top: 0;
	position: absolute;
	/*position: fixed;*/
}
.project-cat{
	border-bottom: 1px solid #333;
	padding: .5em;
}
.project-cat .apply-btn{margin-top: -1em;}
.investors .item .project-item{margin: 1em 0;}
.priceGoodsWarp {
width: 144px;
margin: 10px auto 0;
height: 20px;
}
.overlay {
height: 10px;
border-bottom: 1px solid #E2E2E2;
}
.goodsPrice {
	width: 65px;
	height: 15px;
	padding: 0 10px;
	background: white;
	position: relative;
	top: -10px;
	z-index: 90;
	margin: 0 auto;
}
.header{text-align: center;}
.header .sub-title{font-size: 16px;color: #666;}
.header .block-title {
	position: relative;	
	text-align: center;
	margin-bottom: 10px;
	color: #333;
	font-size: 32px;
	font-weight: bold;
}
.block-title::before {
	content: '';
	width: 100%;
	border-top: 1px solid #333;
	position: absolute;
	top: 18px;
	left: 0;
	z-index: 0;
}
.block .header{
	width: 80%;
	margin: auto;
	margin-top: 6em;
}
.block .block-content{margin-top: 4em;}
.investors .block-content{padding: 0 2em;}
.block-title span {
	position: relative;
	background: white;
	padding: 0 12px;
	display: inline-block;
	/*color: #646878;
	font-size: 20px;*/
}